@font-face {
    font-family: 'antropos';
    src: url('./fonts/antrf___.eot');
    src: local('antropos'), url('./fonts/antrf___.eot') format('embedded-opentype'), url('./fonts/antrf___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #555;
    margin: 0;
}

.header {
    background: #7a8b09 url('header_bkg_01.webp') no-repeat;
    background-size: cover;
    border-bottom: 1px solid #eee;
    color: #333;
    margin: 0;
    padding: 2.5em 2em 0;
    text-align: center;
}

.header h1 {
    color: #fff;
    font-family: 'antropos', Sans-Serif;
    font-size: 2em;
    font-weight: 300;
    margin: 0.2em 0;
    text-shadow: 4px 3px 8px rgb(0 0 0 / 30%);
}

.header h2 {
    font-weight: 300;
    color: #555;
    padding: 0;
    margin-top: 0;
}

.inner-page-title a {
    color: #555;
    text-decoration: none;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content p,
.content li {
    text-align: justify;
}

.content-subhead,
.content-subhead-h3 {
    font-weight: 300;
    color: #353;
    text-align: initial;
}

.content-subhead {
    margin: 50px 0 20px 0;
}

@media only screen and (min-width: 720px) {
    .header h1 {
        font-size: 3em;
    }
}